@import "tailwindcss";

:root {
  --background: #f2e8cf;
  --foreground: #d65a39;
  --color-background: #f2e8cf;
  --color-primary: #d65a39;
  --color-secondary: #386641;
  --color-accent: #a7c957;
  --font-sans: gotham, Arial, Helvetica, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@theme {
  --color-background: #f2e8cf;
  --color-primary: #d65a39;
  --color-secondary: #386641;
  --color-accent: #a7c957;
}

body {
  background: var(--color-background);
  color: var(--color-primary);
  font-family: var(--font-sans);
}
